@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


* 
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root
{
    --custom-white: #F9FAF8;
    --custom-dark: #1F2937;
    --custom-blue: #3882F6;
}

.signup-button
{
    display: inline-block;
    color: var(--custom-white);
    padding: 4px 25px;
    background-color: var(--custom-blue);
    border-radius: 8px;
    font-weight: 900;
}




body
{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

}

.header
{
    background-color: var(--custom-dark);
    color: var(--custom-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;




}

.header ul
{
    display: flex;
    gap: 50px;
    padding: 50px;
}

.main-content
{
    display: flex;
    flex-direction: column;
}


.main-content .hero-text
{
    display: flex;
    background-color: var(--custom-dark);
    color: var(--custom-white);
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}


.main-content .hero-text ul
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.main-content strong
{
    font-size: 48px;
}


.hero-text img
{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.image-list img
{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

