@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


* 
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root
{
    --custom-white: #F9FAF8;
    --custom-dark: #1F2937;
    --custom-blue: #3882F6;
    --custom-gray: #E5E7EB;
}

.signup-button
{
    display: inline-block;
    color: var(--custom-white);
    padding: 4px 25px;
    background-color: var(--custom-blue);
    border-radius: 8px;
    font-weight: 900;
}




body
{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header
{
    background-color: var(--custom-dark);
    color: var(--custom-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;




}

.header ul
{
    display: flex;
    gap: 50px;
    padding: 50px;
}

.main-content
{
    display: flex;
    flex-direction: column;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.main-content .hero-text
{
    display: flex;
    background-color: var(--custom-dark);
    color: var(--custom-white);
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}


.main-content .hero-text ul
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.main-content strong
{
    font-size: 48px;
}


.hero-text img
{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.image-list
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;
    height: 400px;
}

.image-list ul
{
    display: flex;
    gap: 40px;
    --image-width: 200px;
    --image-height: 200px;
}

.image-list img
{
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid black;
}

.image-list h2
{
    font-size: 36px;
}

.image-list ul p
{
    width: var(--image-width);
}


.quote
{
    background-color: var(--custom-gray);

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.quote figure
{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.quote figcaption
{
    align-self: flex-end;
    font-weight: 900;
}

.quote blockquote
{
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}